<!-- this filename includes _ as prefix because its just a partial file. This is used indicate that -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">CRUDapp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if session.logged_in %}
                    <li class="nav-item"><a class="nav-link" aria-current="/dashboard" href="/dashboard">Dashboard</a></li>
                {% endif %}   
                <li class="nav-item"><a class="nav-link" href="/articles">Articles</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                {% if session.logged_in %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Navabar ends -->